<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Plan</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/scss/master.css">


</head>


<body>


    <!--Navbar/Header Begins-->

    <header>
        <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand d-flex flex-row align-items-center" href="#">
                <div id="logo"></div>
                
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">References</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>




    <!--Carousel Begins-->
    <div id="carousel-slides" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div id="carousel-cover">

        </div>
        <div id="intro-container">
            <div id="introCard" class="card" style="width: 18rem;">
                <div id="introCard-body" class="card-body">
                    <h5 class="card-title">Got no idea what exercises to do?</h5>
                    <div id="icon-container">
                        <svg class="bd-placeholder-img rounded-circle" width="40" height="40"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Biceps</title>
                            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                                dy=".3em"></text>
                        </svg>
                        <svg class="bd-placeholder-img rounded-circle" width="40" height="40"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Back</title>
                            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                                dy=".3em"></text>
                        </svg>
                        <svg class="bd-placeholder-img rounded-circle" width="40" height="40"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Front</title>
                            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                                dy=".3em"></text>
                        </svg>
                        <svg class="bd-placeholder-img rounded-circle" width="40" height="40"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Legs</title>
                            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                                dy=".3em"></text>
                        </svg>
                    </div>
                    <br>
                    <p class="card-text">With just the simple touch of a button, a daily plan with different exercises
                        will
                        be generated to fit your
                        needs in terms of training.</p><br>
                    <a href="/getexercises" id="generatorBtn" class="btn btn-info" role="button">Generate Plan</a>
                </div>
            </div>
        </div>

        <div id="carousel-body" class="carousel-inner">
            <div class="carousel-item active">
                <div id="carousel-img" class="d-block w-100"></div>
            </div>
            <div class="carousel-item">
                <div id="carousel-img2" class="d-block w-100"></div>
            </div>
            <div class="carousel-item">
                <div id="carousel-img3" class="d-block w-100"></div>
            </div>
        </div>
    </div>

    <!-- Cards Start -->

    <div class="album py-5 bg-light">
        <div class="container">

            <div
                class="d-flex justify-content-center justify-content-around row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <% for( let i = 0; i < exercises.length; i++ ) { %>
                <div class="cards-body card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title fs-4"><%= exercises[i].exerciseName %></h3>
                        <h6 class="card-subtitle mb-2 text-muted"> <%= exercises[i].area %></h6>
                        <hr>
                        <ul>
                            <li><b>Strenght:</b> <%= exercises[i].strenghtSets %> sets; <%= exercises[i].strenghtReps %>
                                amount
                                of
                                repetitions</li>
                            <li><b>Growth:</b> <%= exercises[i].growthSets %> sets; <%= exercises[i].growthReps %>
                                amount of
                                repetitions
                            </li>
                            <li><b>Endurance:</b> <%= exercises[i].enduranceSets %> sets;
                                <%= exercises[i].enduranceReps %>
                                amount of
                                repetitions</li>
                        </ul>
                        <p class="note card-subtitle mb-2 text-muted">* Note that it is just a suggestions of reps and
                            sets.
                            More information can be found at the
                            References page.</p>
                    </div>
                </div>
                <% } %>

            </div>
        </div>
    </div>

    <!-- Cards ending -->



    <!-- Footer Begins -->

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <img src="/resources/images/KettlebellIcon2.png" width="55" height="55" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                    viewBox="0 0 24 24">
                <title>Product</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                </path></img>
                <small class="d-block mb-3 text-muted">©2021-</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer Ends -->

</body>

</html>